{% extends 'base.html'%}
{% block content %}
{% for blog in page_of_blogs.object_list %}
<div class="day">
    <div class="title">
        <h3><a href="{% url 'specific_page' blog.id %}">{{blog.title}}</a></h3>
    </div>
    <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp;&nbsp;{{blog.blog_type}}&nbsp;&nbsp;&nbsp;
    <span class="glyphicon glyphicon-time"
        aria-hidden="true"></span>&nbsp;&nbsp;{{blog.created_time|date:'Y-m-d H:i:s'}}&nbsp;&nbsp;阅读({{blog.get_read_num}})
    <br><br>
    <p>{{blog.content|striptags|truncatechars:30}}</p>
</div>
{% empty %}
<p>暂无博客，敬请期待</p>
{% endfor %}
<p>一共有{{page_of_blogs.paginator.count}}篇博客</p>
{%endblock%}
{% block paging %}
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li>
            {% if page_of_blogs.has_previous %}
            <a href="?page={{page_of_blogs.previous_page_number}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            {% else %}
            <span aria-hidden="true">&laquo;</span>
            {% endif %}
        </li>
        {% for page_num in page_range %}
        {% if page_num == page_of_blogs.number %}
        <li class="active"><span>{{page_num}}</span></li>
        {% else %}
        {% if page_num == '...' %}
        <li><span>{{page_num}}</span></li>
        {% else %}
        <li><a href="?page={{page_num}}">{{page_num}}</a></li>
        {%endif%}
        {% endif %}
        {%endfor%}
        <li>
            {% if page_of_blogs.has_next%}
            <a href="?page={{page_of_blogs.next_page_number}}" aria-label="Previous">
                <span aria-hidden="true">&raquo;</span>
            </a>
            {% else %}
            <span aria-hidden="true">&raquo;</span>
            {% endif %}
        </li>
    </ul>
</nav>
{% endblock %}
{% block sideBar %}
<div id="sideBar">
    <div class="blog-type">
        <div class="blog-type-name">
            博客分类
        </div>
        <ul class="blog-type-list">
            {% for blog_type in blogs_type %}
            <li><a href="{% url 'blog_with_type' blog_type.id%}">{{blog_type.blog_type}}({{blog_type.blog_count}})</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="blog-date">
        <div class="blog-type-name">
            博客日期
        </div>
        <ul class="blog-type-list">
            {% for blog_date,blog_date_count in blogs_date.items %}
            <li><a
                    href="{% url 'blog_with_date' blog_date.year blog_date.month %}">{{blog_date|date:"Y年m月"}}({{blog_date_count}})</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}