{% extends 'form.html' %}
{% block title %}
    <title>{{ page_title }}}</title>
{% endblock %}
{% block content %}
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ form_title }}
        </h3>
    </div>
    <div class="panel-body">
        {% if not user.is_authenticated %}
            <form action="" method="POST">
                {% csrf_token %}
                {% for field in register_form %}
                    {% if not field.is_hidden %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% endif %}
                    {{field}}
                    <p class="text-danger">{{ field.errors.as_text }}</p>
                {% endfor %}
                <span id="tip" class="pull-left text-danger">{{ login_form.non_field_errors }}</span>
                <div class="clearfix"></div>
                <div class="pull-left">
                    <button id="send_code" class="btn btn-primary">发送验证码</button>
                </div>
                <div class="pull-right">
                    <input type="submit" value="{{ submit_text }}" class="btn btn-primary">
                    <button id="return_btn" class="btn btn-default">返回</button>
                </div>
            </form>
        {% else %}
            <span>未登录，跳转到首页...</span>
            <script type="text/javascript">
                window.location.href = '/'
            </script>
        {% endif %}
    </div>
{% endblock %}
{% block script_extends %}
    <script type="text/javascript">
        $.ajaxSetup({
            data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
        })
        $("#send_code").click(function(){
            event.preventDefault();
            var email = $("#id_email").val();
            if(email==""){
                $("#tip").text('*邮箱不能为空');
                return false;
            }
            //发送验证码
            $.ajax({
                url: "{% url 'send_verification_code' %}",
                type: "GET",
                data: {
                    'email':email,
                    'send_for': 'register_code'
                },
                cache: false,
                success: function(data){
                    if(data['status'] == 'ERROR'){
                        alert(data['status']);
                    }
                },
            });
            //限制按钮点击次数
            $(this).addClass('disabled');
            $(this).attr('disabled',true);
            var time = 60;
            $(this).text(time + 's')
            var interval = setInterval(()=> {
                if(time <= 0){
                    clearInterval(interval);
                    $(this).removeClass('disabled');
                    $(this).attr('disabled',false);
                    $(this).text('发送验证码');
                    return false;
                }
                time--;
                $(this).text(time + 's')
            },1000);
        });
    </script>
{% endblock %}